<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="employeeId">Employee ID</label>
      <input id="employeeId" class="form-control" type="number" formControlName="employeeId" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" class="form-control" type="password" formControlName="password" />
    </div>

    <div class="form-group">
        <label for="password">Confirm Password</label>
        <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" />
    </div>
  
    <button class="btn btn-primary" type="submit">Signup</button>
    <button class="btn btn-link" routerLink="/login" routerLinkActive="active">Already have account</button>
  </form>
